body {
    background: linear-gradient(160deg, #00BFFF,#fff) fixed;
}

.container {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    min-width: 97%;
}

.cabecalho img{
    max-width: 100%;
    border-radius: 30px;
    margin-right: -10px;
}

.rodape {
    background-color: aliceblue;
    padding: 20px;
    min-width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.rodape a{
    color: black;
}


@media (max-width: 720px) {
    .container {
        margin: 5px;
        padding: 10px;
        max-width: 93%;
    }
}

/* tema escuro   

body:
    background: linear-gradient(160deg, #000,#555) fixed
    
container:
    background-color: dimgray;
    color: whitesmoke;
*/