body {
    background: linear-gradient(160deg, #00BFFF,#fff) fixed;
}

.container {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    min-width: 97%;
    box-shadow: 5px 6px 12px rgb(0 0 0 / 20%);
}

.cabecalho img{
    max-width: 100%;
    border-radius: 30px;
    margin-right: -10px;
}

.sobre {
    margin-top: 10px;
}

.card {
    border-radius: 20px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rodape {
    background-color: aliceblue;
    padding: 20px 20px 0;
    min-width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

a {
    color: black;
}

.rodape a img {
    max-width: 85px;
}

.contato a img {
    max-width: 65px;
}

.feito {
    margin-top: 10px;
}

.dark{
    background: linear-gradient(160deg, #000,#555) fixed;
}

.dark a {
    color: aliceblue;
}

.dark .container {
    background-color: dimgray;
    color: whitesmoke;
}
.dark .rodape {
    background-color: dimgray;
    color: whitesmoke;
}
.dark .card {
    background-color: darkslategray;
    color: whitesmoke;
}
.dark label {
    background-color: black;
}

#tema {
    opacity: 0;
}

label {
    border: 1px solid black;
    padding: 5px 40px;
    border-radius: 20px;
    background-color: floralwhite;
}


@media (max-width: 720px) {
    .container {
        margin: 5px;
        margin-bottom: 10px;
        padding: 10px 15px;
        max-width: 93%;
    }
    h1 {
        max-width: 100%;
        font-size: 2rem;
    }
}
